# PyCharm / JetBrains
.idea/
*.iws
out/
cmake-build-*/

# Python - pliki binarne i pamięć podręczna
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Środowisko wirtualne (Virtual Environment)
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Dane i logi
*.log
data/
*.csv
*.xlsx

# Systemowe
.DS_Store
Thumbs.db